pre {
    padding-left: 1rem !important;
}
.headerlink {
    opacity: 0;
    transition: 0s;
}
.headerlink:hover {
    opacity: 100%;
    transition: .2s;
}
section {
   margin-bottom: 2rem !important;
}