@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    background-color: white;
    color: white;
    font-family: Inter;
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    text-decoration: none;
    color: white;
    transition: .2s;
}
a:hover {
    color: red;
    font-weight: bold;
}
#navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    display: inline-flex;
    
    background-color: black;
}
#navbar h1 {
    margin: .5em 1em;
}
#navbar h2 {
    margin: auto 1em;
}