@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    background-color: white;
    color: white;
    font-family: Inter;
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    text-decoration: none;
    color: black;
    transition: .2s;
}
a:hover {
    color: #47f;
    font-weight: bold;
}
#navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    display: inline-flex;
    
    color: black;
    background-color: white;
    border-bottom: 1px black solid;
}
#navbar h1 {
    margin: .5em .5em .5em 2em;
}
#navbar h2 {
    margin: auto .5em;
}
#navbar > .icon {
    position: absolute;
    left: 1em;
    top: .6em;
    width: auto;
    height: 3em;
}