#img {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 5em;
    height: auto;
    transform: translate(-50%, calc(-50% - 8em));
}
#content button {
    position:absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, calc(-50% - 1em));
    padding: 1em 2em;
    color: white;
    background-color: black;
    font-family: Inter;
    font-weight: bolder;
    border: 1px black solid;
    transition: .3s;
}
#content button:hover {
    background-color: #47f;
    color: black;
    padding: 2em 4em;
    border: 1px #47f solid;
}

#counter {
    color: black;
    font-size: 5em;
    font-weight: bolder;
    left: 50%;
    top: 50vh;
    position: absolute;
    transform: translate(-50%, calc(-50% + .1em));
}
#counter-subtext {
    color: black;
    font-weight: bolder;
    left: 50%;
    top: 50vh;
    position: absolute;
    transform: translate(-50%, calc(-50% + 7em));
}