<!DOCTYPE HTML>
<html>
<head>
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/base.css">
        {% block css %}{% endblock %}

        <!-- JS -->
        {% block js %}{% endblock %}
</head>
<body>
        <div id="navbar">
            <img src='/media/img/pigeonpost.png' class="icon" alt="icon" />
            <h1>PigeonPost</h1>
            <h2><a href="https://github.com/lstuma/pigeon">GitHub</a></h2>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
</body>
</html>