{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/counter.css">
{% endblock %}
{% block title %}
    <title>PigeonPost</title>
{% endblock %}
{% block js %}
    <script src="/static/js/counter.js" defer></script>
{% endblock %}
{% block content %}
<h1 id="counter">{{request.get.counter or ''}}</h1>
{% if request.get.counter %}
    <p id="counter-subtext">pigeons have been sacrificed</p>
    <button onclick="count()">Sacrifice More!</button>
{% else %}
    <button onclick="count()">Click Here!</button>
{% endif %}
    <img src="/media/img/pigeonpost.png" id="img" alt="icon">
{% endblock %}